﻿@model IEnumerable<DocumentOnline.ViewModels.DocumentTypeViewModel>
@{
    ViewBag.Title = "Document Type";
}

<div class="margin-bottom">
    <a href="/DocumentType/Create" class="btn btn-primary">Create New Type</a>
</div>

<div class="box">
    <div class="box-body">
        <table id="dataTable" class="table table-striped table-responsive table-hover">
            <thead style="font-weight:bold">
                <tr>
                    <td></td>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="/DocumentType/Update?Id=@item.Id">Edit</a>
                        </td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('#dataTable').DataTable({
                "ordering": false,
                "autoWidth": false,
                "scrollX": true,
                "processing": true,
                "searchDelay": 500
            });
        });
    </script>
}

