﻿@model DocumentOnline.ViewModels.DocumentTypeViewModel
@{
    ViewBag.Title = "Edit Document Type";
}

<div class="box">
    <div class="box-body">
        <form action="/DocumentType/Update" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" name="Id" value="@Model.Id">

            <div class="form-group">
                <label>Name</label>
                <input type="text" name="Name" value="@Model.Name" class="form-control">
            </div>

            <div class="form-group pull-right">
                <input type="submit" class="btn btn-success" style="min-width:100px" value="Save">
                <a href="/DocumentType/Index" class="btn btn-default">Cancel</a>
            </div>

        </form>
    </div>
</div>

