﻿@model IEnumerable<DocumentOnline.ViewModels.InvoiceViewModel>

@{
    ViewBag.Title = "Invoice";
}

<input type="hidden" id="IsAdmin" value="@ViewBag.IsAdmin"/>

<div class="margin-bottom">
    @if (ViewBag.IsAdmin)
    {
        <a href="/Invoice/Upload" class="btn btn-primary">Upload</a>
    }
    <button class="btn btn-info" id="buttonDownload">Download Selected</button>
</div>

<div class="panel panel-default">
    <div class="panel-heading" id="panelFilterHeader"><a href="#">Filter</a></div>

    <div class="panel-body" id="panelFilterBody" style="display:none">

        <div class="row margin-bottom">
            <div class="col-md-3">
                <label for="dateColumn">Date Column:</label>
                <select id="dateColumn" class="selectpicker form-control">
                    <option value="">-</option>
                    <option value="Date">Upload Date</option>
                </select>
            </div>

            <div class="col-md-3">
                <label>From Date:</label>
                <input class="form-control datepicker" data-date-format="dd-mm-yyyy" id="fromDate" value="@DateTime.Now.ToString("dd-MM-yyyy")">
            </div>
            <div class="col-md-3">
                <label>To Date:</label>
                <input class="form-control datepicker" data-date-format="dd-mm-yyyy" id="toDate" value=@DateTime.Now.ToString("dd-MM-yyyy")>
            </div>
        </div>

        @if (ViewBag.IsAdmin)
        {
            <div class="row margin-bottom">
                <div class="col-md-4">
                    <label>Company Name:</label>
                    <input type="text" id="filterCompany" class="form-control" value="" />
                </div>
                <div class="col-md-4">
                    <label>Branch Name:</label>
                    <input type="text" id="filterBranch" class="form-control" value="" />
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-6">
                <button id="buttonFilter" class="btn btn-primary">Apply Filter</button>
                <button id="buttonClearFilter" class="btn btn-default">Clear</button>
            </div>
        </div>

    </div>
</div>


<div class="box">
    <div class="box-header">
        <label id="totalDownloaded" class="label label-success" style="font-size:small;"></label>
        <label id="totalNotDownloaded" class="label label-warning" style="font-size:small;"></label>
        <label id="totalAll" class="label label-default" style="font-size:small;"></label>
    </div>
    <div class="box-body">
        <table id="dataTable" class="table table-striped table-responsive table-hover"></table>
    </div>
</div>


@section scripts
{
    <script>
        $(function () {
            $('#fromDate').datepicker({
                orientation: "bottom auto"
            });
            $('#toDate').datepicker({
                orientation: "bottom auto"
            });


            var table = $('#dataTable').DataTable({
                "ordering": false,
                "autoWidth": false,
                "scrollX": true,
                "processing": true,
                "serverSide": true,
                "searchDelay": 500,
                "ajax": {
                    url: "/Invoice/GetData",
                    type: 'POST',
                    datatype: 'json',
                    data: function (d) {
                        d.dateColumn = $('#dateColumn').val();
                        d.fromDate = $('#fromDate').val();
                        d.toDate = $('#toDate').val();

                        var filterArray = new Array();

                        var filterCompany = $('#filterCompany').val();
                        if (filterCompany) {
                            var filterCompany = {
                                column: "CompanyName",
                                keyword: filterCompany
                            };
                            filterArray.push(filterCompany);
                        }

                        var filterBranch = $('#filterBranch').val();
                        if (filterBranch) {
                            var filterBranch = {
                                column: "BranchName",
                                keyword: filterBranch
                            };
                            filterArray.push(filterBranch);
                        }

                        d.filter = filterArray;
                    },
                    dataSrc: function (json) {
                        $('#totalDownloaded').html("Downloaded: " + json.extra.totalDownloaded);
                        $('#totalNotDownloaded').html("Not Downloaded: " + json.extra.totalNotDownloaded);
                        $('#totalAll').html("All: " + json.extra.totalAll);

                        return json.data;
                    }
                },
                "columns": [
                    { "data": "Id", "bVisible": false },
                    {
                        "title": "<input name='selectAll' value='1' id='selectAll' type='checkbox' />",
                        "mRender": function (data, type, row) {
                            return '<input type="checkbox" name="checkId" value="'
                                + $('<div/>').text(row.Id).html() + '">';
                        }
                    },
                    {
                        "title": "Download",
                        "mRender": function (data, type, row) {
                            var downloadFile = "<a href='#' onclick=\"downloadInvoice('" + row.Id + "');return false;\">Download</a>";
                            return downloadFile;
                        }
                    },
                    {
                        "title": "Downloaded",
                        "mRender": function (data, type, row) {
                            var downloadCountId = "downloadCount" + row.Id;
                            if (row.DownloadCount == 0)
                                return "<span id='" + downloadCountId + "' class='label label-default'>0</span>";
                            else
                                return "<span id='" + downloadCountId +  "' class='label label-success'>" + row.DownloadCount + "</span>";
                        }
                    },
                    { "data": "UserName", "title": "To" },
                    { "data": "UserCompanyName", "title": "Company" },
                    { "data": "UserBranchName", "title": "Branch" },
                    { "data": "StringDate", "title": "Date" },
                    { "data": "OriginalFileName", "title": "File Name" },
                    { "data": "Remarks", "title": "Remarks" },
                    {
                        "title": "Delete",
                        "mRender": function (data, type, row) {
                            var isAdmin = $('#IsAdmin').val();
                            if (row.Status != "Done" && isAdmin)
                                return "<button class='btn btn-danger' onclick='deleteInvoice(\"" + row.Id + "\")'>Delete</button>";
                            else return "";
                        }
                    },
                ]
            });

            $('#selectAll').on('click', function () {
                var rows = table.rows({ 'search': 'applied' }).nodes();
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            $('#dataTable tbody').on('change', 'input[type="checkbox"]', function () {
                if (!this.checked) {
                    var el = $('#selectAll').get(0);
                    if (el && el.checked && ('indeterminate' in el)) {
                        el.indeterminate = true;
                    }
                }
            });

            $('#panelFilterHeader').on('click', function (e) {
                $('#panelFilterBody').slideToggle();
            });

            $('#buttonFilter').click(function () {
                table.ajax.reload();
            });

            $('#buttonClearFilter').click(function () {
                $('#dateColumn').val('').change();
                $('#filterCompany').val('');
                $('#filterBranch').val('');
                table.ajax.reload();
            });

            $('#buttonDownload').on('click', function (e) {
                var ids = "";

                table.$('input[type="checkbox"]').each(function (index) {
                    if (this.checked) {
                        ids = ids + this.value + ";";
                        incrementDownloadCount(this.value);
                    }
                });

                window.location = "/Invoice/DownloadFiles?ids=" + ids;

                e.preventDefault();
            });
        });//end jquery

        function downloadInvoice(id) {
            window.location = "/Invoice/DownloadFile?id=" + id;
            incrementDownloadCount(id);
        }

        function incrementDownloadCount(id) {
            var isAdmin = $('#IsAdmin').val();
            if (isAdmin) return;

            var downloadCountId = "#downloadCount" + id;

            if ($(downloadCountId).hasClass('label-default')) {
                $(downloadCountId).removeClass('label-default');
                $(downloadCountId).addClass('label-success');
            }

            var count = Number($(downloadCountId).text()) + 1;
            $(downloadCountId).text(count);
        }

        function deleteInvoice(id) {
            if (confirm("Hapus invoice?")) {
                var formData = new FormData();
                formData.append("id", id);

                $.ajax({
                    url: "/Invoice/DeleteInvoice",
                    method: "POST",
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (result) {
                        if (result == "Success") {
                            toastr.info("Invoice berhasil dihapus.");
                            $("#dataTable").DataTable().ajax.reload();
                        }
                        else {
                            toastr.error(result);
                        }
                    },
                    error: function (result) {
                        toastr.error(result);
                    }
                });
            }
        }
    </script>
}



