﻿@model DocumentOnline.ViewModels.LoginViewModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document Online</title>
    @Scripts.Render("~/AdminLTE/plugins/jquery/js")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/Content/login.css")
    @Scripts.Render("~/Plugins/toastr/toastr.min.js")
    @Styles.Render("~/Plugins/toastr/toastr.min.css")

</head>
<body>
    @if (@ViewBag.ErrorMessage != null)
    {
        <script>
            toastr.error("@ViewBag.ErrorMessage")
        </script>
    }

    <div class="login-form">
        <h3 style="margin-bottom:30px">ACCOUNT LOGIN</h3>
        <form action="@Url.Action("Login", "Home")" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group has-error">
                <input type="text" class="form-control" name="UserName" placeholder="Username" required="required" value="@Model.UserName">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="Password" placeholder="Password" required="required" value="@Model.Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
            </div>
        </form>
    </div>
</body>
</html>                            