﻿body {
    background: #02111D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #367fa9, #3c8dbc, #367fa9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #367fa9, #3c8dbc, #367fa9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-control {
    min-height: 41px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: transparent;
}

    .form-control:focus {
        background: #e2e2e2;
    }

.form-control, .btn {
    border-radius: 2px;
}

.login-form {
    width: 350px;
    margin: 100px auto;
    text-align: center;
}

    .login-form h3 {
        color:white;
    }

    .login-form form {
        color: #7a7a7a;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .login-form .btn {
        font-size: 16px;
        font-weight: bold;
        border: none;
        outline: none !important;
    }

        .login-form .btn:hover, .login-form .btn:focus {
            background: #2389cd;
        }

    .login-form a {
        color: #fff;
        text-decoration: underline;
    }

        .login-form a:hover {
            text-decoration: none;
        }

    .login-form form a {
        color: #7a7a7a;
        text-decoration: none;
    }

        .login-form form a:hover {
            text-decoration: underline;
        }
