﻿@{
    dynamic currentUser = Session["CurrentUser"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")
    @Styles.Render("~/Plugins/toastr/toastr.min.css")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/plugins/datatables/css")
    @Styles.Render("~/Plugins/jquery-confirm/jquery-confirm.min.css")
    @Styles.Render("~/Plugins/bootstrap-select/css/bootstrap-select.min.css")
    @Styles.Render("~/Plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css")
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <span class="logo-mini">Doc</span>
                <span class="logo-lg"><b>Doc</b>Online</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Menu</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span id="notificationCount" class="label label-warning"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li id="notificationHeader" class="header"></li>
                                <li>
                                    <ul id="notificationDetail" class="menu"></ul>
                                </li>
                            </ul>
                        </li>
                        <li style="margin-right:20px"></li>
                    </ul>

                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@currentUser.Name</p>
                        <a href="#"><i class="fa fa-circle text-success"></i>@currentUser.Role</a>
                    </div>
                </div>

                <ul class="sidebar-menu">
                    <li class="header">MAIN MENU</li>

                    @if (currentUser.Role == "SuperUser")
                    {
                        <li id="left-sidebar-menu-dashboard">
                            <a href="@Url.Action("Index", "UserDashboard")">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li id="left-sidebar-menu-user">
                            <a href="@Url.Action("Index", "UserManagement")">
                                <i class="fa fa-user"></i> <span>User Management</span>
                            </a>
                        </li>
                    }
                    @if (currentUser.Role == "User")
                    {
                        <li id="left-sidebar-menu-dashboard">
                            <a href="@Url.Action("Index", "UserDashboard")">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                    }

                    @if (currentUser.Role == "SuperAdmin")
                    {
                        <li id="left-sidebar-menu-dashboard">
                            <a href="@Url.Action("Index", "AdminDashboard")">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li id="left-sidebar-menu-admin">
                            <a href="@Url.Action("Index", "AdminManagement")">
                                <i class="fa fa-user-secret"></i> <span>Admin Management</span>
                            </a>
                        </li>
                        <li id="left-sidebar-menu-user">
                            <a href="@Url.Action("Index", "UserManagement")">
                                <i class="fa fa-user"></i> <span>User Management</span>
                            </a>
                        </li>
                        <li id="left-sidebar-menu-doctype">
                            <a href="@Url.Action("Index", "DocumentType")">
                                <i class="fa fa-table"></i> <span>Document Type</span>
                            </a>
                        </li>
                        <li id="left-sidebar-menu-table">
                            <a href="@Url.Action("Index", "LogHistory")">
                                <i class="fa fa-table"></i> <span>Log History</span>
                            </a>
                        </li>
                    }

                    @if (currentUser.Role == "Admin")
                    {
                        <li id="left-sidebar-menu-dashboard">
                            <a href="@Url.Action("Index", "AdminDashboard")">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li id="left-sidebar-menu-table">
                            <a href="@Url.Action("Index", "UserManagement")">
                                <i class="fa fa-table"></i> <span>User Management</span>
                            </a>
                        </li>

                    }

                    <li id="left-sidebar-menu-table">
                        <a href="@Url.Action("Index", "DocumentRecap")">
                            <i class="fa fa-sticky-note"></i> <span>Document Recap</span>
                        </a>
                    </li>

                    <li id="left-sidebar-menu-table">
                        <a href="@Url.Action("Index", "Invoice")">
                            <i class="fa fa-calculator"></i> <span>Invoice</span>
                        </a>
                    </li>

                    <li class="header"></li>

                    <li id="left-sidebar-menu-logout">
                        <a id="buttonLogout" href="#">
                            <i class="fa fa-lock"></i> <span>Logout</span>
                        </a>
                    </li>

                </ul>


            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyrights &copy; @DateTime.Now.Year</strong>
        </footer>
    </div>

    @Scripts.Render("~/AdminLTE/plugins/jquery/js")
    @RenderSection("menu", required: false)
    @Scripts.Render("~/AdminLTE/bootstrap/js")
    @Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
    @Scripts.Render("~/AdminLTE/plugins/fastclick/js")
    @Scripts.Render("~/Scripts/Shared/_Layout")
    @Scripts.Render("~/AdminLTE/dist/js")
    @Scripts.Render("~/Plugins/toastr/toastr.min.js")
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Plugins/jquery-confirm/jquery-confirm.min.js");
    @Scripts.Render("~/Plugins/bootstrap-select/js/bootstrap-select.min.js");
    @Scripts.Render("~/Plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js");

    <script>
        //global function
        function formatDate(date) {
            var day = date.substring(0, 2);
            var month = date.substring(3, 5);
            var year = date.substring(6, 10);


            return [year, month, day].join('-');
        }
    </script>

    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $.ajax({
                url: "/Notification/Get",
                success: function (result) {
                    $("#notificationCount").html(result.Count);
                    $("#notificationHeader").html("Yout have " + result.Count + " new notifications.");


                    var details = "";
                    for (var key in result.Data) {
                        var detail = "<li><a href='#'><i class='text-aqua'></i></a>" + result.Data[key] + "</li>";
                        details = details + detail;
                    }

                    $("#notificationDetail").html(details);
                }
            });

            $('#buttonLogout').confirm({
                title: "Logout",
                content: "Are you sure want to logout?",
                buttons: {
                    logout: {
                        text: "Logout",
                        action: function () {
                            window.location.href = "/Home/Logout";
                        }
                    },
                    cancel: {
                        text: "Cancel"
                    }
                }
            });
        });
    </script>
</body>
</html>