﻿@model IEnumerable<DocumentOnline.ViewModels.DocumentViewModel>

@{
    ViewBag.Title = "Admin Dashboard";
}

<style>
    .filter-selected {
        font-size: medium !important;
        text-transform: uppercase;
    }
</style>

<div class="margin-bottom">
    <a href="/AdminDashboard/UploadDetail" class="btn btn-primary">Upload Document Detail</a>
    <a href="/AdminDashboard/UploadExcel" class="btn btn-primary">Upload Excel</a>
    <button class="btn btn-info" id="buttonDownloadDocument">Download Selected Document</button>
</div>

<div class="panel panel-default">
    <div class="panel-heading" id="panelFilterHeader"><a href="#">Filter</a></div>

    <div class="panel-body" id="panelFilterBody" style="display:none">

        <div class="row margin-bottom">
            <div class="col-md-3">
                <label for="dateColumn">Date Column:</label>
                <select id="dateColumn" class="selectpicker form-control">
                    <option value="">-</option>
                    <option value="Date">Upload Date</option>
                    <option value="ContractDate">Contract Date</option>
                </select>
            </div>

            <div class="col-md-3">
                <label>From Date:</label>
                <input class="form-control datepicker" data-date-format="dd-mm-yyyy" id="fromDate" value="@DateTime.Now.ToString("dd-MM-yyyy")">
            </div>
            <div class="col-md-3">
                <label>To Date:</label>
                <input class="form-control datepicker" data-date-format="dd-mm-yyyy" id="toDate" value=@DateTime.Now.ToString("dd-MM-yyyy")>
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-md-4">
                <label>Company Name:</label>
                <input type="text" id="filterCompany" class="form-control" value="" />
            </div>
            <div class="col-md-4">
                <label>Branch Name:</label>
                <input type="text" id="filterBranch" class="form-control" value="" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button id="buttonFilter" class="btn btn-primary">Apply Filter</button>
                <button id="buttonClearFilter" class="btn btn-default">Clear</button>
            </div>
        </div>

    </div>
</div>  

<div class="box">
    <div class="box-header">
        <label id="totalOpen" class="label label-success" style="font-size:small;"></label>
        <label id="totalInProgress" class="label label-warning" style="font-size:small;"></label>
        <label id="totalDone" class="label label-primary" style="font-size:small;"></label>
        <label id="totalAll" class="label label-default" style="font-size:small;"></label>
    </div>
    <div class="box-body">
        <table id="dataTable" class="table table-striped table-responsive table-hover"></table>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('#fromDate').datepicker({
                orientation: "bottom auto"
            });
            $('#toDate').datepicker({
                orientation: "bottom auto"
            });

            var table = $('#dataTable').DataTable({
                "ordering": false,
                "autoWidth": false,
                "scrollX": true,
                "processing": true,
                "serverSide": true,
                "searchDelay": 500,
                "ajax": {
                    url: "/AdminDashboard/GetData",
                    type: 'POST',
                    datatype: 'json',
                    data: function (d) {
                        d.dateColumn = $('#dateColumn').val();
                        d.fromDate = formatDate($('#fromDate').val());
                        d.toDate = formatDate($('#toDate').val());

                        var filterArray = new Array();

                        var filterCompany = $('#filterCompany').val();
                        if (filterCompany) {
                            var filterCompany = {
                                column: "CompanyName",
                                keyword: filterCompany
                            };
                            filterArray.push(filterCompany);
                        }

                        var filterBranch = $('#filterBranch').val();
                        if (filterBranch) {
                            var filterBranch = {
                                column: "BranchName",
                                keyword: filterBranch
                            };
                            filterArray.push(filterBranch);
                        }

                        if ($('#totalOpen').hasClass('filter-selected')) {
                            var filterOpen = {
                                column: "Status",
                                keyword: "Open"
                            };
                            filterArray.push(filterOpen);
                        }
                        if ($('#totalInProgress').hasClass('filter-selected')) {
                            var filterInProgress = {
                                column: "Status",
                                keyword: "In-Progress"
                            };
                            filterArray.push(filterInProgress);
                        }
                        if ($('#totalDone').hasClass('filter-selected')) {
                            var filterDone = {
                                column: "Status",
                                keyword: "Done"
                            };
                            filterArray.push(filterDone);
                        }

                        d.filter = filterArray;
                    },
                    dataSrc: function (json) {
                        $('#totalOpen').html("Open: " + json.extra.totalOpen);
                        $('#totalInProgress').html("In-Progress: " + json.extra.totalInProgress);
                        $('#totalDone').html("Done: " + json.extra.totalDone);
                        $('#totalAll').html("All: " + json.extra.totalAll);

                        return json.data;
                    }
                },
                "columns": [
                    { "data": "Id", "bVisible": false },
                    {
                        "title": "#",
                        "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        "title": "<input name='selectAll' value='1' id='selectAll' type='checkbox' />",
                        "mRender": function (data, type, row) {
                            return '<input type="checkbox" name="checkId" value="'
                                + $('<div/>').text(row.Id).html() + '">';
                        }
                    },
                    {
                        "title": "Download",
                        "mRender": function (data, type, row) {
                            var downloadFile = "<li><a href='/AdminDashboard/DownloadFile?id=" + row.Id + "'>Dokumen</a></li>";

                            if (row.DetailList.indexOf("AKTA") !== -1) {
                                downloadFile = downloadFile + "<li><a href='/AdminDashboard/DownloadDetail?id=" + row.Id + "&docType=AKTA'>AKTA</a></li>";
                            }

                            if (row.DetailList.indexOf("SJF") !== -1) {
                                downloadFile = downloadFile + "<li><a href='/AdminDashboard/DownloadDetail?id=" + row.Id + "&docType=SJF'>SJF</a></li>";
                            }

                            if (row.DetailList.indexOf("LAMPIRAN") !== -1) {
                                downloadFile = downloadFile + "<li><a href='/AdminDashboard/DownloadDetail?id=" + row.Id + "&docType=LAMPIRAN'>LAMPIRAN</a></li>";
                            }

                            if (row.DetailList.indexOf("PERNYATAAN") !== -1) {
                                downloadFile = downloadFile + "<li><a href='/AdminDashboard/DownloadDetail?id=" + row.Id + "&docType=PERNYATAAN'>PERNYATAAN</a></li>";
                            }

                            if (row.DetailList.indexOf("BUKTIBAYAR") !== -1) {
                                downloadFile = downloadFile + "<li><a href='/AdminDashboard/DownloadDetail?id=" + row.Id + "&docType=BUKTIBAYAR'>BUKTI BAYAR</a></li>";
                            }

                            //revision
                            for (var key in row.RevisionList) {
                                var id = row.RevisionList[key].Id;
                                var name = row.RevisionList[key].Name;

                                downloadFile = downloadFile + "<li><a class='text text-success' href='/AdminDashboard/DownloadRevision?id=" + id + "'>" + name + "</a></li>";
                            }
                            //end revision

                            return "<ul>" + downloadFile + "</ul>";
                        }
                    },
                    { "data": "UserName", "title": "User Name" },
                    { "data": "UserCompanyName", "title": "Company" },
                    { "data": "UserBranchName", "title": "Branch" },
                    { "data": "StringDate", "title": "Upload Date" },
                    { "data": "Status", "title": "Status", "className": "status" },
                    { "data": "Remarks", "title": "Remarks" },
                    { "data": "OriginalFileName", "title": "File Name" },
                    { "data": "CustomerName", "title": "Customer Name" },
                    { "data": "ContractNumber", "title": "Contract Number" },
                    { "data": "StringContractDate", "title": "Contract Date" },
                    { "data": "RegistrationNumber", "title": "Registration Number" },
                    { "data": "AktaNumber", "title": "Akta Number" },
                    { "data": "StringAktaDate", "title": "Akta Date" },
                    { "data": "SertifikatNumber", "title": "Sertifikat Number" },
                    { "data": "StringSertifikatDate", "title": "Sertifikat Date" },
                    { "data": "BillID", "title": "Bill ID" },
                    { "data": "Notaris", "title": "Notaris" },
                    {
                        "title": "Delete",
                        "mRender": function (data, type, row) {
                            if (row.Status != "Done")
                                return "<button class='btn btn-danger' onclick='deleteDocument(\"" + row.Id + "\")'>Delete</button>";
                            else return "";
                        }
                    },
                ]
            });

            table.on('draw', function () {
                $('tr td').each(function () {
                    if ($(this).hasClass('status')) {
                        if ($(this).html() == "Open")
                            $(this).html("<span class='label label-success'>Open</span>");

                        else if ($(this).html() == "In-Progress")
                            $(this).html("<span class='label label-warning'>In-Progress</span>");

                        else if ($(this).html() == "Done")
                            $(this).html("<span class='label label-primary'>Done</span>");
                    }
                })
            });

            $('#selectAll').on('click', function () {
                var rows = table.rows({ 'search': 'applied' }).nodes();
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            $('#dataTable tbody').on('change', 'input[type="checkbox"]', function () {
                if (!this.checked) {
                    var el = $('#selectAll').get(0);
                    if (el && el.checked && ('indeterminate' in el)) {
                        el.indeterminate = true;
                    }
                }
            });


            $('#panelFilterHeader').on('click', function (e) {
                $('#panelFilterBody').slideToggle();
            });

            $('#buttonFilter').click(function () {
                table.ajax.reload();
            });

            $('#buttonClearFilter').click(function () {
                $('#dateColumn').val('').change();
                $('#filterCompany').val('');
                $('#filterBranch').val('');
                table.ajax.reload();
            });


            $('#buttonDownloadDocument').on('click', function (e) {
                var ids = "";

                table.$('input[type="checkbox"]').each(function (index) {
                    if (this.checked) {
                        ids = ids + this.value + ";";
                    }
                });

                window.location = "/AdminDashboard/DownloadFiles?ids=" + ids;

                e.preventDefault();
            });


            $('#totalOpen').on('click', function (e) {
                filterStatus('#totalOpen');
            });
            $('#totalInProgress').on('click', function (e) {
                filterStatus('#totalInProgress');
            });
            $('#totalDone').on('click', function (e) {
                filterStatus('#totalDone');
            });
            $('#totalAll').on('click', function (e) {
                filterStatus('#totalAll');
            });
        });//end jquery

        function filterStatus(statusId) {
            $('#totalOpen').removeClass('filter-selected');
            $('#totalInProgress').removeClass('filter-selected');
            $('#totalDone').removeClass('filter-selected');
            $('#totalAll').removeClass('filter-selected');

            $(statusId).addClass('filter-selected');

            $('#dataTable').DataTable().ajax.reload();
        }

        function deleteDocument(id) {
            if (confirm("Hapus dokumen?")) {
                var formData = new FormData();
                formData.append("id", id);

                $.ajax({
                    url: "/AdminDashboard/DeleteDocument",
                    method: "POST",
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (result) {
                        if (result == "Success") {
                            toastr.info("Dokumen berhasil dihapus.");
                            $("#dataTable").DataTable().ajax.reload();
                        }
                        else {
                            toastr.error(result);
                        }
                    },
                    error: function (result) {
                        toastr.error(result);
                    }
                });
            }
        }
    </script>
}
