﻿
@{
    ViewBag.Title = "Upload Excel";
}

<ul class="text-info">
    <li>Modul ini digunakan untuk mengupload file excel monitoring.</li>
    <li>Tipe file yang dapat diupload: .xls</li>
</ul>

<div class="well">
    <div class="margin-bottom">
        <input type="file" id="files" />
    </div>

    <div class="progress" hidden>
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input type="button" id="buttonUpload" value="Upload Detail Files" class="btn btn-primary" />
            <a href="/AdminDashboard/Index" class="btn btn-default">Back to Dashboard</a>
        </div>
    </div>
</div>


<div id="panelResult" class="panel panel-info" style="display:none">
    <div id="panelMessage" class="panel-body"></div>
</div>




@section scripts
{
    <script>
        $(function () {
            $('#buttonUpload').click(function () {
                $('div.progress > div.progress-bar').css({ "width": 0 + "%" });
                $('.progress').show();
                $('#buttonUpload').prop('disabled', true);
                $('#buttonUpload').val('Uploading...');

                var fileUpload = $("#files").get(0);
                var files = fileUpload.files;

                console.log(files);

                var fileData = new FormData();

                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);

                    console.log(files[i]);
                }

                $.ajax({
                    url: "/AdminDashboard/UploadExcelFile",
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function (result) {
                        var message = "";

                        for (var key in result) {
                            var text = result[key];

                            if (text.startsWith("Success"))
                                text = "<p class='text-success'>" + text + "</p>";
                            else text = "<p class='text-danger'>" + text + "</p>";

                            message = message + text;
                        }

                        $("#panelResult").show();
                        $("#panelMessage").html(message);

                        $("#files").val("");

                        $('.progress').hide();
                        $('#buttonUpload').prop('disabled', false);
                        $('#buttonUpload').val('Upload Files');
                    },
                    error: function (err) {
                        console.log(err);
                        toastr.error("Gagal melakukan upload excel. Silakan ulangi.");

                        $('.progress').hide();
                        $('#buttonUpload    ').prop('disabled', false);
                        $('#buttonUpload').val('Upload Files');
                    },
                    xhr: function () {
                        var myXhr = $.ajaxSettings.xhr();
                        if (myXhr.upload) {
                            myXhr.upload.addEventListener("progress", function (evt) {
                                if (evt.lengthComputable) {
                                    var percentComplete = (evt.loaded / evt.total) * 100;
                                    $('div.progress > div.progress-bar')
                                        .css({ "width": percentComplete + "%" });
                                }
                            }, false);
                        }
                        return myXhr;
                    }
                });//end ajax
            });//end buttonUpload click
        });//end jquery
    </script>
}

