﻿@model List<DocumentOnline.ViewModels.LogHistoryViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading" id="panelFilterHeader"><a href="#">Filter</a></div>

    <div class="panel-body" id="panelFilterBody">
        <form action="@Url.Action("Filter")" method="get">
            <div class="form-group form-inline">
                <label>Date</label>
                <input type="date" name="date" value="@ViewBag.Date" class="form-control" />
                <input type="submit" class="btn btn-primary" />
                <input type="reset" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div class="box">
    <div class="box-body">
        <table id="dataTable" class="table table-striped table-responsive table-hover">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Login Date</th>
                    <th>Logout Date</th>
                    <th>IP</th>
                    <th>Browser</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>
                            @(item.LoginDate.HasValue ? item.LoginDate.Value.ToString("dd/MM/yyyy HH:mm") : "")
                        </td>
                        <td>
                            @(item.LogoutDate.HasValue ? item.LogoutDate.Value.ToString("dd/MM/yyyy HH:mm") : "")
                        </td>
                        <td>@item.IP</td>
                        <td>@item.Browser</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
