﻿@model DocumentOnline.ViewModels.UserViewModel
@{
    ViewBag.Title = "Create New User";
    var currentUser = Session["CurrentUser"] as DocumentOnline.ViewModels.UserViewModel;
}

<div class="box">
    <div class="box-body">
        <form action="/UserManagement/Create" method="post">
            @Html.AntiForgeryToken()

            @if (currentUser.Role == "SuperAdmin" || currentUser.Role == "Admin")
            {
                <div class="form-group">
                    <label>Role</label>
                    <select name="Role" class="form-control selectpicker">
                        <option value="SuperUser">SuperUser</option>
                        <option value="User">User</option>
                    </select>
                </div>
            }

            <div class="form-group">
                <label>Name</label>
                <input type="text" name="Name" value="@Model.Name" class="form-control">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="Password" value="@Model.Password" class="form-control">
            </div>

            @if (ViewBag.IsAdmin)
            {
                <div class="form-group">
                    <label>Document Folder</label>
                    <input type="text" name="DocumentFolder" value="@Model.DocumentFolder" class="form-control">
                </div>
            }

            <div class="form-group">
                <label>Company Name</label>
                <input type="text" name="CompanyName" value="@Model.CompanyName" class="form-control" >
            </div>

            <div class="form-group">
                <label>Branch Name</label>
                <input type="text" name="BranchName" value="@Model.BranchName" class="form-control">
            </div>

            <div class="form-group">
                <label>ContactName</label>
                <input type="text" name="ContactName" value="@Model.ContactName" class="form-control">
            </div>

            <div class="form-group">
                <label>Address</label>
                <input type="text" name="Address" value="@Model.Address" class="form-control">
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="text" name="Phone" value="@Model.Phone" class="form-control">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" name="Email" value="@Model.Email" class="form-control">
            </div>

            <div class="form-group pull-right">
                <input type="submit" class="btn btn-success" style="min-width:100px" value="Save">
                <a href="/UserManagement/Index" class="btn btn-default">Cancel</a>
            </div>

        </form>
    </div>
</div>

