﻿@model IEnumerable<DocumentOnline.ViewModels.UserViewModel>

@{
    ViewBag.Title = "User Management";
}

<div class="margin-bottom">
    <a href="/UserManagement/Create" class="btn btn-primary">Create New User</a>
</div>

<div class="box">
    <div class="box-body">
        <table id="dataTable" class="table table-striped table-responsive table-hover"></table>
    </div>
</div>

@section scripts
{
    <script>
    $(function () {
        $('#dataTable').DataTable({
            "ordering": false,
            "autoWidth": false,
            "scrollX": true,
            "processing": true,
            "serverSide": true,
            "searchDelay": 500,
            "ajax": {
                url: "/UserManagement/GetData",
                type: 'POST',
                datatype: 'json'
            },
            "columns": [
                { "data": "Id", "bVisible": false },
                {
                    "mRender": function (data, type, row) {
                        var updateLink = "<a class='btn' href='/UserManagement/Update?id=" + row.Id + "'>Edit</a>";
                        var deleteLink = "<a class='btn' onclick='deleteRecord(\"" + row.Id + "\",\"" + row.Name + "\"); return true;'>Delete</a>";
                        return updateLink + deleteLink;
                    }
                },
                { "data": "Name", "title": "Name" },
                { "data": "Role", "title": "Role" },
                { "data": "ParentName", "title": "Parent User" },
                { "data": "CompanyName", "title": "Company" },
                { "data": "BranchName", "title": "BranchName" },
                { "data": "Address", "title": "Address" },
                { "data": "ContactName", "title": "Contact" },
                { "data": "Phone", "title": "Phone" },
                { "data": "Email", "title": "Email" }
            ]
        });
    });

    function deleteRecord(id, remarks) {
        if (confirm("Delete data " + remarks + "?")) {
            var url = "/UserManagement/Delete?id=" + id;

            $.getJSON(url, function (data) {
                toastr.info(data);
            });

            $('#dataTable').DataTable().ajax.reload();
        }
        return false;
    }
    </script>
}
