﻿@model DocumentOnline.ViewModels.UserViewModel
@{
    ViewBag.Title = "Edit Admin";
}

<div class="box">
    <div class="box-body">
        <form action="/AdminManagement/Update" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" name="Id" value="@Model.Id">

            <div class="form-group">
                <label>Name</label>
                <input type="text" name="Name" value="@Model.Name" class="form-control">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="Password" value="@Model.Password" class="form-control">
            </div>

            <div class="form-group">
                <label>Address</label>
                <input type="text" name="Address" value="@Model.Address" class="form-control">
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="text" name="Phone" value="@Model.Phone" class="form-control">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" name="Email" value="@Model.Email" class="form-control">
            </div>

            <div class="form-group pull-right">
                <input type="submit" class="btn btn-success" style="min-width:100px" value="Save">
                <a href="/AdminManagement/Index" class="btn btn-default">Cancel</a>
            </div>

        </form>
    </div>
</div>

